
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div class="container-scroller">
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="container mt-5">
                                <h2>All Users</h2>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>UserId</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Role Id</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="u : ${users}">
                                            <td th:text="${u.userId}"></td>
                                            <td th:text="${u.name}"></td>
                                            <td th:text="${u.userName}"></td>
                                            <td th:text="${u.roleId}"></td>
                                            <td>
                                                <a th:href="@{'/admin/user/edit/' + ${u.userId}}">Edit</a> |
                                                <a th:href="@{'/admin/user/delete/' + ${u.userId}}"
                                                    onclick="return confirm('Are you sure?')">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- Footer -->
                <div th:replace="fragments/footer :: footer"></div>
            </div>
        </div>
    </div>
</body>

</html>